.navbar{background-color: rgb(0, 0, 0);border-radius:20px ;}
.navbar ul{overflow: auto;}
.navbar li{float: right;list-style: none;padding: 3px 3px;margin:  20px;}

a:hover{ 
    opacity: 0.5;color: aqua;}
.navbar a{padding: 3px 3px;text-decoration: none;padding:20px 0px;}
.box{background-color: hwb(0 0% 100%);height: 80px;width: 1400px;margin-top:650px;}


.footer{margin-top:-55px;margin-bottom: 100px;padding-left: 50%;

}
.fa-github {
  background: white;
  color: black;
  border-radius: 20px;margin-top: 10px;margin-bottom: 100px;
}
.fa-twitter {
  background: white;
  color: #00acee ;
  border-radius: 20px;margin-top: 10px;margin-bottom: 100px;
}
.fa-linkedin{
  background: white;
  color: black;
  border-radius: 20px;margin-top: 10px;margin-bottom: 100px;
}
.fa-facebook{  background: white;
    color:darkblue;
    border-radius: 20px;margin-top: 5px;margin-bottom: 100px;}
   